<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Grace</title>
    <!-- CSS link-->
    <link href="./stylesheets/style.css" rel="stylesheet">
    <!-- Bootstrap4 link-->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <!-- Font Awesome CSS -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body data-spy="scroll" data-target="#navbarsExampleDefault">

  <!--Navigation bar code-->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">
      <a class="navbar-brand" id="logo" href="#home"><span id="first-letter">G</span>race</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ml-auto" id="unordered-list">
                    <li class="nav-item  mr-4 active">
                        <a class="nav-link" href="#home">HOME</a>
                    </li>
                    <li class="nav-item  mr-4">
                        <a class="nav-link" href="#about">ABOUT</a>
                    </li>
                    <li class="nav-item  mr-4">
                        <a class="nav-link" href="#">DASHBOARD</a>
                    </li>
                    <li class="nav-item  mr-4">
                        <a class="nav-link" href="#gallery">GALLERY</a>
                    </li>
                    <li class="nav-item  mr-4">
                        <a class="nav-link" href="#team">TEAM</a>
                    </li>
                    <li class="nav-item  mr-4">
                        <a class="nav-link" href="#">LOGIN/SIGNUP</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


  <!--  Carousel Code-->
   <div id="home" class="carousel slide" data-ride="carousel">
      <ul class="carousel-indicators">
      <li data-target="#home" data-slide-to="0" class="active"></li>
      <li data-target="#home" data-slide-to="1"></li>
      <li data-target="#home" data-slide-to="2"></li>
      <li data-target="#home" data-slide-to="3"></li>
            <li data-target="#home" data-slide-to="4"></li>
      </ul>
      <div class="carousel-inner">
         <div class="carousel-item active">
                      <img src="./images/carosel/image1.jpg" alt="one">
                      <div class="carousel-caption">
                        <h1>JOIN HANDS FOR HUMANITY</h1>
                        <p>Every little effort will make a big difference.</p>
                        <button type="button" class="btn btn-outline-danger btn1 active">DONATE</button>
                        <button type="button" class="btn btn-outline-danger btn2">ACCEPT</button>
                      </div>
        </div>
        <div class="carousel-item">
                      <img src="./images/carosel/image2.jpg" alt="two">
                      <div class="carousel-caption">
                        <h1>DONATE EXCESS COOKED FOOD</h1>
                        <p>Be a part , don't let them sleep hungry.</p>
                        <button type="button" class="btn btn-outline-danger btn1 active">DONATE</button>
                        <button type="button" class="btn btn-outline-danger btn2">ACCEPT</button>
                      </div>
        </div>
                <div class="carousel-item">
                      <img src="./images/carosel/image5.jpg" alt="five">
                      <div class="carousel-caption">
                        <h1>E-WASTE UNDER CONTROL</h1>
                        <p>Unable to decide what to do. We will reward you at your waste.</p>
                        <button type="button" class="btn btn-outline-danger btn1 active">DONATE</button>
                        <button type="button" class="btn btn-outline-danger btn2">ACCEPT</button>
                      </div>
        </div>
        <div class="carousel-item">
                      <img src="./images/carosel/image3.jpg" alt="three">
                      <div class="carousel-caption">
                        <h1>MUTUAL BENIFITS</h1>
                        <p>Reward for donar and food for acceptor.</p>
                        <button type="button" class="btn btn-outline-danger btn1 active">DONATE</button>
                        <button type="button" class="btn btn-outline-danger btn2">ACCEPT</button>
                      </div>
        </div>
        <div class="carousel-item">
                      <img src="./images/carosel/image4.jpg" alt="four">
                      <div class="carousel-caption">
                        <h1>WASTE MANAGEMENT AT YOUR PLACE</h1>
                        <p>Our mother earth , our responsibility.</p>
                        <button type="button" class="btn btn-outline-danger btn1 active">DONATE</button>
                        <button type="button" class="btn btn-outline-danger btn2">ACCEPT</button>
                      </div>
        </div>
      </div>

        <a class="carousel-control-prev" href="#home" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#home" data-slide="next">
        <span class="carousel-control-next-icon"></span>
        </a>
    </div>



  <!--  Join us Code-->
  <div class="container join-us" id="about">
          <div class="row">
              <div class="col"><h2>Why you should join?</h2></div>
          </div>
          <div class="row">
                <div class="col"> About 67 million tonnes of food gets waste and approx 45 million metric tonnes e-waste are generated every year. There are 194.6 million undernourished people in India.
              'GRACE' is our commitment towards the community to bridge this gap.
              Hostels , Resturant , Society and Social events face moments when they are left with excess cooked food. We help you to <b>manage the waste at your place.</b>
              Join hands with us today! Your little effort can bring the smile on several faces. </div>
          </div>
  </div>

  <!--  Feature Code-->
  <section class="container-fluid section-features">
            <div class="row feature-color">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 target ">
                        <img src="./images/features/feature1.png" alt="feature1">
                        <h5>Excess Cooked Food</h5>
                        <p>There are tremendous amount of food wasted all around. People got no clue how to deal with it. </p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 target">
                        <img src="./images/features/feature2.png" alt="feature2">
                        <h5>Pick Up</h5>
                        <p>We reach out at your place and at your time. Fast Pick Up. We deliver the food in the NGOs.</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 target">
                        <img src="./images/features/feature3.png" alt="feature3">
                        <h5>Feed Hungry Stomach</h5>
                        <p>The NGOs inturn deliver it to the poor people. We won't let India sleep hungry at night.</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 target">
                        <img src="./images/features/feature4.png" alt="feature4">
                        <h5>Mutual Benifits</h5>
                        <p>Reward for the donar and food for the acceptors. Waste mangement for our mother earth.</p>
                </div>
            </div>
     </section>



  <!--  How we works-->
  <div class="container work-div">
    <div class="row">
      <div class="col-sm-6 work">
                <h2 id="gp">How we works?</h2>
        <p>Garce is a waste management at your place. The excess cooked food , old clothes and unused e-waste can be utilize benifically. Grace is a mission to end food wastage and hunger by creating a easy channel between the donater and acceptor.
                  The donar send the request and all nearby accptor receives the notification. One of our member will reach out soon with a certain time limit.
                  Sooner the pickup and delivery is done , the rewards are given to both ends. Hence, creating a mutual benifits for donar , acceptor and mother earth.</p>
      </div>
          <div class="col-sm-6">
              <img  style="height: 400px; width: 400px;" src="./images/extra/earth.gif" alt="">
          </div>
      </div>
   </div>

  <!--  Gallery-->
  <div class="work" id="gallery">
            <div id="gallery" class="container">
                <p id="gp"> Our Gallery.</p>
                <hr id="gh">
                <img src="./images/gallery/img1.jpeg" alt="">
                <img src="./images/gallery/img9.png" alt="">
                <img src="./images/gallery/img3.jpeg" alt="">
                <img src="./images/gallery/img4.jpeg" alt="">
                <img src="./images/gallery/img10.jpg" alt="">
                <img src="./images/gallery/img6.jpg" alt="">
                <img src="./images/gallery/img7.jpg" alt="">
                <img src="./images/gallery/img2.jpeg" alt="">
                <img src="./images/gallery/img5.jpeg" alt="">
                <img src="./images/gallery/img8.jpg" alt="">
            </div>
  </div>
    
    <!-- our concern-->
 <div class="container install">
    <div class="row">
          <div class="col-sm-6 part1">
                <img id="r3" src="./images/extra/r3.gif">
          </div>
          <div class="col-sm-6 part2">
                <div class="row works-step">
                    <h2 id="gp">Our Concern.</h2>
                </div>
                <div class="row works-step">
                    <div>1</div>
                    <p>Excess Cooked Food.</p>
                </div>
                <div class="row works-step">
                    <div>2</div>
                    <p>Old Clothes.</p>
                </div>
                <div class="row works-step">
                    <div>3</div>
                    <p>E-waste.</p>
                </div>
          </div>
   </div>
 </div>
  

  <!--  Our team-->
  <section class="numbers" id="team">
    <div class="container">
      <div class="text-center pb-5">
        <h2 id="gp"> Our Team.</h2>
        <hr id="gh">
      </div>
      <div class="row text-center">
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
              <img class="numc mx-auto" src="./images/team/Anmol.jpg" alt="">
              <h3 class="numd">Anmol Gupta</h3>
              <p>Full Stack Developer</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
              <img class="numc mx-auto" src="./images/team/Shubham.jpg" alt="">
              <h3 class="numd">Shubham Srivastva</h3>
              <p>Backend Developer</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
              <img class="numc mx-auto" src="./images/team/Karishma.jpg" alt="">
              <h3 class="numd">Karishma Kesari</h3>
              <p>Frontend Developer</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
              <img class="numc mx-auto" src="./images/team/Shilpi.jpg" alt="">
              <h3 class="numd">Shilpi Singh</h3>
              <p>Frontend Developer</p>
        </div>
      </div>
    </div>
      <br>
      <br>
      <br>
  </section>



  <!-- Parallax Code -->
    <div class="parallax" style="background-image:url(./images/extra/parallax.jpeg)">
    </div>


  <!-- Footer Code-->
     <div class="footer custom-fot custom-footer bg-dark" class="container-fluid text-center" id="contact">
        <div class="footer-section contact-info">
          <p id="line1">Get in touch<br></p>
          <p id="line2">Email: <a id="gmail" target="_blank" href="https://accounts.google.com">grace2019@gmail.com</a></p>
          <p class="contact-phone-number">You can also find us here:<br></p>
          <p>
            <a target="_blank" href="https://www.facebook.com"><i class="fa fa-facebook" id="icon"></i></a>
            <a target="_blank" href="https://www.twitter.com"><i class="fa fa-twitter"id="icon"></i></a>
            <a target="_blank" href="https://www.instagram.com"><i class="fa fa-instagram" id="icon"></i></a>
            <a target="_blank" href="https://accounts.google.com"><i class="fa fa-google" id="icon"></i></a>
          </p>
          <p class="contact-address">&copy; 2019 Grace. All Rights Reserved.</p>
        </div>
    </div>



  <!--Links-->
  <!-- Scrollspy -->
    <script>$('body').scrollspy({ target: '#navbarsExampleDefault', offset: 108 })</script>

</body>
</html>
